*{
  font-size: 19px;
}


input[type="number"] {
  display: block;
  height: 3rem;
  width: 5rem;
  border-radius: 5px;
  border: none;
  padding: 0 0 0 1rem;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }
}