.clickBox {
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
}

.downArrow {
  height: 1.5rem;
  width: 1.5rem;
  transform: rotate(90deg);
}

.dropDownMenu {
  margin: 0.1rem 0 0 0;
  padding: 1rem 0 1rem 0;
  user-select: none;
  border-radius: 5px;
  font-weight: normal;
  display: flex;
  position: absolute;
  width: fit-content;
  flex-direction: column;
  color: black;
  background-color: white;
}


.clickBox {
  height: 3rem;
  border-radius: 5px;
  width: 12rem;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
}
.boxText {
  font-size: 17px;
  user-select: none;
  text-align: center;
  margin-left: 1rem;
  width: 75%;
  text-align: left;
}

.selectors {
  display: flex;
  color: green;
  justify-content: space-between;
  padding: 0.2rem 1rem;
  & span {
    cursor: pointer;
  }
}
.choice {
  cursor: pointer;
  margin: 0.8rem 1rem 0 1rem;
  display: flex;
  align-items: center;
  font-weight: 500;

  & > input {
    appearance: none;
    margin: 0 0.5rem 0 0;
    padding: 0.5rem;
    border: 3px solid black;
    position: relative;
    cursor: pointer;
    &:checked {
      &::before {
        content: "";
        top: 0.1rem;
        left: 0.05rem;
        position: absolute;
        height: 0.25rem;
        width: 0.65rem;
        border-left: 4px solid black;
        border-bottom: 4px solid black;
        transform: rotateZ(-45deg);
      }
    }
  }
}

@keyframes checked {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
