$DarkBlue: #003f64;
$DarkBlueComp: #5f5895;
$LavGray: #EEF4ED;
$BackgroundColor: #eef4ed;
.container{
  display: flex;
  flex-direction: column;
  height: 100%;
}


.header {
  color: white;
  display: flex;
  background-color: $DarkBlue;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 5% 1% 5%;
  flex: 0.2;
  max-height: fit-content;
}
.subTitle {
  padding-top: 1%;
  font-weight: normal;
  font-size: 1.1rem;
}

.title {
  font-size: 3.5em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.filters {
  align-self: flex-end;
  display: flex;
  align-content: flex-end;
  & > * {
    margin: 0 0 0 1rem;
  }
}

.cardGrid {
  background-color: $LavGray;
  flex: 1;
}
