<div class="container">
    <span *ngIf="roverData" class="header">
        <span class="title">
            <span>{{selectedRover}} Images</span>
            <div class="subTitle">Launch date: {{roverData.landing_date }} | Landed:
                {{roverData.landing_date}} | Max Sol: {{roverData.max_sol}} </div>
        </span>
        <span class="filters">
            <app-drop-down-menu [label]="'Cameras'" [choices]="usableCameras" (selected)="OnCameraSelection($event)">
            </app-drop-down-menu>
            <app-number-input (submit)="setSol($event)" class="numInput" [label]="'Sol'" [maxNum]="roverData.max_sol ">
            </app-number-input>
        </span>
    </span>

    <div class="cardGrid">
        <app-photo-grid [selectedCams]="selectedCams" [camsOnSol]="usedCamsOnSol"></app-photo-grid>
    </div>
</div>
<router-outlet></router-outlet>