<div>
    <span class="header">
        <span class="title">
            <span>{{selectedRover}} Images</span>
            <div *ngIf="roverData" class="subTitle">Launch date: {{roverData.landing_date }} | Landed:
                {{roverData.landing_date}} | Max
                Sol: {{roverData.max_sol}} </div>
        </span>
        <span class="filters">
            <app-drop-down-menu [label]="'Cameras'" [choices]="usableCameras" (selected)="OnCameraSelection($event)">
            </app-drop-down-menu>
            <app-number-input class="numInput" [label]="'Sol'" [maxNum]="roverData.max_sol"></app-number-input>
        </span>
    </span>

    <div class="container cardGrid">
    </div>
</div>
<router-outlet></router-outlet>