/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/bold/Roboto-Bold.woff2") format("woff2"),
    url("./assets/fonts/Roboto/bold/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/medium/Roboto-Medium.woff2") format("woff2"),
    url("./assets/fonts/Roboto/medium/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/regular/Roboto-Regular.woff2") format("woff2"),
    url("./assets/fonts/Roboto/regular/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Roboto";
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
}
body{
  margin: 0;
}



